.btnEsterEgg {
  display: flex;
  align-items: center;
  gap: 1vh;
  background-color: rgba(255, 255, 255, 0.3); 
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px); 
  border: 1px solid #cccccca7;
  border-radius: 1vh;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  .btnEsterEgg:hover {
    background-color: #e0e0e0;
  }
  
  .easteregg {
    opacity: 0;
    transform: translateX(10px); /* Comienza desplazado a la derecha */
    animation: fadeInRight 0.5s forwards; /* Aparece con animación */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 10px; /* Deja espacio entre el botón y el texto */
  }
  
  /* Animación para hacer que el texto se desvanezca y desplace hacia su posición */
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translateX(10px); /* Empieza desplazado a la derecha */
    }
    100% {
      opacity: 1;
      transform: translateX(0); /* Se desplaza a su posición final */
    }
  }
  