  .header {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    width: 100%;
    z-index: 2;
    padding: 0;
  }
  .header-content {
    display: flex;
    padding: 1vh 1.5vh;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 1;
  }
  .header-title {
    font-size: 2.7vh;
    font-weight: bold;
    margin: 0 13vh;
  }

  .nav-links {
    display: flex;
    gap: 2vh;
    margin-left: 3vh;
  }

  .nav-links a {
    text-decoration: none;
    color: #000;
    font-size: 2.5vh;
    transition: color 500ms;
  }

  .nav-links a:hover {
    color: #e87128;
  }

  .photos-btn {
    background-color: #c49a86;
    color: #fff;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 1vh;
    font-size: 2.3vh;
    font-weight: bold;
    margin-right: 5%;
    margin-left: 10%;
    transition: background-color 500ms;
  }

  .photos-btn:hover {
    background-color: #a87766;
  }