.header {
    width: 100%;
    background-color: #fff;
    color: #000;
    padding: 1vh 0vh;
    box-shadow: 0 .2vh .5vh rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }