.part3{
    margin-top: 0;
    height: auto;
    padding-left: 13vh;
    padding-top: 12vh;
  }
  .part3 .services{
    width: 90%;
  }
  .part3 .services h1{
    margin: 0;
    font-size: 6vh;
    text-align: center;
    font-weight: bold;
  }
  .part3 .services h2{
    margin-top: 2vh;
    font-size: 3.5vh;
    text-align: center;
    font-weight: lighter;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  .card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    transition: 300ms;
  }
  .card img {
    width: 100%;
    border-radius: 8px 8px 0 0;
  }
  .card h3 {
    font-size: 1.25rem;
    margin: 15px 0 10px;
  }
  .card p {
    font-size: 0.95rem;
    margin: 10px 0 20px;
    color: #666;
  }
  .card button {
    background-color: #a97a65;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .card button:hover {
    background-color: #8b604f;
    transition: 300ms;
  }
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    border: 2px solid #a97a65;
    transition: 300ms;
  }