.part1{
  width: 100%;
  margin-top: 0;
  height: 100vh;
  background: linear-gradient(
    90deg, 
    rgb(0, 0, 0) 0%,
    rgb(0, 0, 0) 40%,
    rgb(43, 48, 62) 65%,
    rgb(45, 50, 66) 76%,  
    rgb(0, 0, 0) 100%
    );
    position: relative; /* Añade esto para contener la imagen absoluta */
    overflow: hidden; /* Esto ya lo tienes, es correcto */
  }
  
  .titlewelcome{
    padding-top: 20vh;
    position: relative;
    width: 60vh;
    color: white;
    font-size: 4vh;
    padding-left: 13vh;
  }
  .titlewelcome h1{
    margin: 0;
    line-height: 1.2; /* Ajusta el espacio entre las líneas de texto */
    }
  .subtitlewelcome{
    display: flex;
    width: 60vh;
    color: white;
    font-size: 2vh;
    padding-left: 13vh;
  }
  .part1 .btnswelcome{
    margin-top: 3vh;
    padding-left: 13vh;
  }
  .part1 .btn1{
    border: .3vh solid #6b4f45;
    border-radius: 1vh;
    padding: 1vh 2vh;
    font-size: 3.5vh;
    color: white;
    background-color: #AB7C6D;
    text-decoration: none;
  }

  .photowelcome{
    width: 42%;
    margin-left: 50%;
    position: absolute;
    height: auto;
    bottom: 0;
    z-index: 1;
  }


.part2{
    padding-top: 5vh;
    padding-left: 13vh;
  }
  .part2 .part2divs{
    display: flex;
    width: 100%;
  }
  .part2 .part2divs .h1{
    flex-direction: column;
  }
  .part2 .part2divs .image1{
    padding: auto;
    width: 40%;
  }
  .part2 .part2divs .image1 img{
    width: 100%;
    height: auto;
    border-radius: 3vh;
    margin-top: 15vh;
  }
  .part2 .part2divs .text{
    width: 50%;
    margin-left: 2%;
  }
  .part2 .part2divs .text h2{
    font-size: 5vh;
    margin-left: 3vh;
  }
  .part2 .part2divs .text h3{
    font-size: 3.5vh;
    margin-left: 3vh;
    font-weight: lighter;
  }
  .custom-list {
    margin-top: 5vh;
    list-style: none; /* Quita las viñetas predeterminadas */
    padding: 0;
    font-size: 3.5vh;
  }
  .custom-list li {
    display: flex;
    align-items: flex-start; /* Alinea los elementos verticalmente */
    margin-bottom: 3vh; /* Espacio entre los elementos */
  }
  .custom-list li::before {
    content: "✔"; /* Simula un icono personalizado */
    color: #b97a63; /* Color marrón del icono */
    font-size: 3.5vh; /* Tamaño del icono */
    margin-left: 4vh;
    margin-right: 1vh; /* Espacio entre el icono y el texto */
  }
  .custom-list-title {
    font-weight: bold; /* Títulos en negrita */
    margin: 0; /* Quita márgenes innecesarios */
  }
  .custom-list-text {
    margin: 1vh 0 0; /* Espaciado solo arriba */
    color: #555; /* Color gris para el texto */
  }

    .part3{
      margin-top: 0;
      height: auto;
      padding-left: 13vh;
      padding-top: 12vh;
    }
    .part3 .services{
      width: 90%;
    }
    .part3 .services h1{
      margin: 0;
      font-size: 6vh;
      text-align: center;
      font-weight: bold;
    }
    .part3 .services h2{
      margin-top: 2vh;
      font-size: 3.5vh;
      text-align: center;
      font-weight: lighter;
    }
    .grid-container {
      display: grid;
      grid-template-columns: repeat(3, minmax(300px, 1fr));
      gap: 20px;
      padding: 20px;
    }
    .card {
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      padding: 20px;
      text-align: center;
      transition: transform 0.3s, box-shadow 0.3s;
      transition: 300ms;
    }
    .card img {
      width: 100%;
      border-radius: 8px 8px 0 0;
    }
    .card h3 {
      font-size: 2.5vh;
      margin: 15px 0 10px;
    }
    .card p {
      font-size: 2vh;
      margin: 10px 0 20px;
      color: #666;
    }
    .card button {
      background-color: #a97a65;
      color: #fff;
      border: none;
      border-radius: 1vh;
      padding: 1.2vh 2vh;
      cursor: pointer;
      transition: background-color 0.3s;
      font-size: 2vh;
    }
    .card button:hover {
      background-color: #8b604f;
      transition: 300ms;
    }
    .card:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
      border: 2px solid #a97a65;
      transition: 300ms;
    }


    .part4{
      height: auto;
      padding-left: 13vh;
      margin-top: 20vh;
    }
    .part4 .trayectory{
      width: 95%;
    }
    .part4 .trayectory h1{
      margin: 0;
      font-size: 6vh;
      text-align: center;
      font-weight: bold;
    }
    .success-section {
      margin-top: 7vh;
      display: flex;
      justify-content: space-between;
      padding: 2vh;
      gap: 3vh;
    }
    .success-section h1{
      text-align: left !important;
    }
    .text-content {
      max-width: 50%;
    }
    .image-content{
      width: 100%;
      max-width: 100%;
    }
    .image-content img {
      width: 100%;
      height: auto;
      border-radius: 1vh;
    }
    .text-content h1 {
      font-size: 4vh;
      line-height: 1.2;
      margin-bottom: 20px;
    }
    .text-content h1 span {
      color: #d2691e; /* Cambia este color según el diseño */
    }
    .text-content p {
      font-size: 3vh;
      line-height: 1.6;
      color: #555;
      margin-bottom: 20px;
    }
    .btn1{
      border: .3vh solid #6b4f45;
      border-radius: 1vh;
      padding: 1vh 2vh;
      font-size: 3vh;
      color: white;
      background-color: #AB7C6D;
      text-decoration: none;
    }

    .part5{
      padding-left: 13vh;
      padding-top: 10vh;
    }
    .part5 .plans{
      width: 90%;
    }
    .part5 .plans h1{
      margin: 0;
      font-size: 6vh;
      text-align: center;
      font-weight: bold;
    }
    .part5 .plans h2{
      margin-top: 2vh;
      font-size: 3.5vh;
      text-align: center;
      font-weight: lighter;
    }
    .pricing-section {
      padding: 20px;
      text-align: center;
    }
    .pricing-header {
      margin-bottom: 20px;
    }
    .pricing-tab {
      background-color: #f5f5f5;
      border: 1px solid #ccc;
      padding: 10px 20px;
      font-size: 1rem;
      border-radius: 5px;
      cursor: pointer;
      margin: 0 10px;
      transition: background-color 0.3s;
    }
    .pricing-tab.active {
      background-color: #a97a65;
      color: white;
      border-color: #a97a65;
    }
    .pricing-tab:hover {
      background-color: #d7a796;
    }
    .pricing-cards {
      display: flex;
      justify-content: center;
      gap: 20px;
    }
    
    .pricing-card {
      background-color: white;
      border: 1px solid #ccc;
      border-radius: 1vh;
      padding: 2vh;
      text-align: left;
      width: 35vh;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      height: auto;
    }
    
    .pricing-card.featured {
      background-color: #a97a65;
      color: white;
      border: 2px solid #8b604f;
    }
    
    .pricing-card h3 {
      font-size: 4vh;
      margin-bottom: 1.2vh;
      text-align: center;
    }
    
    .pricing-card .price {
      font-size: 2.5rem;
      font-weight: bold;
      margin: 10px 0;
      text-align: center;
      margin-bottom: -2vh;
    }
    
    .pricing-card ul {
      margin-top: 5vh;
      list-style-type: none;
      padding: 0;
      flex-grow: 1; /* Ocupa el espacio restante */
    }
    
    .pricing-card ul li {
      margin: 10px 0;
      font-size: 0.9rem;
    }
    
    .pricing-card button {
      background-color: #a97a65;
      color: white;
      border: none;
      border-radius: 5px;
      padding: 10px;
      font-size: 1rem;
      width: 100%;
      cursor: pointer;
      transition: background-color 0.3s;
      margin-top: auto; /* ¡MAGIA! */
    }
    
    .pricing-card.featured button {
      background-color: #ffffff;
      color: #a97a65;
      border: 2px solid #a97a65;
    }
    .pricing-card.featured button:hover {
      background-color: #ffdcce; /* Fondo blanco */
      color: #473229; /* Texto en el color principal */
      border: 2px solid rgb(103, 93, 80); /* Borde del color principal */
    }
    .pricing-card button:hover {
      background-color: #8b604f;
    }
    
    .part6{
      padding-top: 7vh;
      width: 90%;
      text-align: center;
      margin: auto;
      font-size: 2.7vh;
    }
    .part6 img{
      width: 70%;
      margin: 0;
    }

    .photos-btn-welcome {
      width: 20vh;
      background-color: #c49a86;
      color: #fff;
      text-decoration: none;
      padding: 1.5vh 3vh;
      border-radius: 1vh;
      font-size: 2.3vh;
      font-weight: bold;
      margin-left: 0%;
      transition: background-color 500ms;
    }
  .photos-btn-welcome:hover {
      background-color: #a87766;
    }
    .photos-btn-welcome:hover{
      text-decoration: none;
      color: white;
      cursor: pointer;
    }
    .horario-tabla-container {
      width: 90%; /* La tabla ocupa el 90% del ancho de la pantalla */
      margin: 0 auto 2rem; /* Centra la tabla y agrega espacio abajo */
      overflow-x: auto; /* Hace que la tabla sea deslizable en el eje X */
      -webkit-overflow-scrolling: touch; /* Habilita el deslizamiento suave en dispositivos móviles */
    }
    
    .horario-tabla {
      width: 100%; /* La tabla ocupará todo el contenedor disponible */
      border-collapse: collapse;
    }
    
    .horario-tabla th,
    .horario-tabla td {
      border: 1px solid #000000;
      padding: 0.75rem;
      text-align: center;
      word-wrap: break-word; /* Permite que el texto se ajuste dentro de las celdas */
    }
    
    .horario-tabla th {
      background-color: #AB7C6D;
      color: white;
    }
    
    @media (max-width: 768px) {
      .horario-tabla-container {
        width: 90%; /* En pantallas pequeñas, el contenedor de la tabla sigue ocupando el 90% del ancho */
      }
    }

    .part6 h2{
      color: #744939;
    }
    
    .part6 ul{
      font-size: 3vh;
      text-align: center;
      padding-right: 3%;
      list-style-type: none;
      padding-left: 0; /* Elimina el espacio que podría quedar a la izquierda */
    }

     .part6 p{
      width: 70%;
      text-align: center;
      font-size: 3vh;
      margin: auto;
      margin-top: 2vh;
     }